/* MainPagePostInt.css */
body {
  background-image: var(--background-image);
  height: 100vh;
  /* overflow: auto; */
}
.post-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #D3D0B3;
  border: 1px solid #787876;
  border-radius: 20px; /* Added border-radius */
  margin-bottom: 60px;
  width: 100%;
  /* overflow: auto */
  /* overflow: hidden; Added overflow property */
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.original-username {
  font-weight: normal;
  font-size: 12px;
  color: #262626;
}

.options-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #262626;
}

.post-content {
  padding: 16px;
  position: relative;
  display:flex;
  flex-direction: column  ;
}

.post-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.post-image-small img {
  width: auto;
  height: auto;
  border: 1px solid #e6e6e6;
}

.post-image img {
  width: 100%;
  height: auto;
}

.post-description-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.post-description {
  flex-grow: 1;
}

.post-description span {
  font-weight: bold;
  color: #262626;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap:4px;
}

.post-interact-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 20%;
  /* left right padding*/
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Inika"
}

.post-interact-button img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.comments-container {
  padding: 16px;
  border-top: 1px solid #e6e6e6;
}

.comment-info {
  font-weight: bold;
  margin-bottom: 8px;
}

.comment-input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 8px;
  border-radius: 3px;
  background-color: #fafafa; /*might need to change the color here*/
  margin-bottom: 16px;
}

.comments-main-page {
  width: 90%;
}
.comment {
  margin-bottom: 8px;
  width: 90%; /* Full width of the parent */
  box-sizing: border-box; /* Includes padding and border in the element's width */
  
  padding: 0; /* Resets padding */
}

.no-underline-yep{
  text-decoration: none;
  color: black;
}

.button-group{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
}
.arrowUp-icon{
  width: 32px;
  height: 32px;
}

.post-interact-button.upclicked{
  color:#00ff009c;
}

.arrowDown-icon{
  width: 32px;
  height: 32px;
}

.post-interact-button.downclicked{
  color: #FF0000;
}

.Flag-icon{
  width: 32px;
  height: 32px;
}

.Share-icon{
  width: 32px;
  height: 32px;
}

.like-dislike-group{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}
.like-dislike-count{
  color: var(--text-color-count);
}

.post-interact-button-button-group:hover{
  background-color: rgba(23, 23, 23, 0.3);
}

.post-interact-button-button-group{
  background-color: transparent;
  border-color: none;
  border: none;
  border-radius: 8px;
}
.report-comment-sign-page{
  position: absolute;
  border: none; /* Removes the border */
    padding: 0; /* Removes padding */
    background: none; /* Removes any background to make it transparent */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
    position: absolute;
    right: 20px;
    border-radius: 8px;
  }

.report-comment-sign-page:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Adds a slight background on hover for feedback */
}