.main-container {
    display: flex;
     height: 100vh; /* Full viewport height */
     font-family: "Inika";
  }
  
  .main-content {
    flex-grow: 1; /* To fill the remaining space */
    overflow: auto; /* In case the content overflows */
    display: flex;
    flex-direction: column;
    font-family: "Inika";
  }
  
  .profile-edit-container{
    border: 1px red solid;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50vw;
    background-color: #D3D0B3;
    font-family: "Inika";
    
  }