.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* In case the content overflows */
    background-image: var(--background-image);
    flex-direction: column;
  }

  .content-container {
    display: flex;
    flex-grow: 1; /* Take up remaining space after Navbar */
  }

  .navBar {
    position:fixed;
    width: 100%;
    height: 60px;
    overflow: hidden; /* Add this line */
    /* other styles... */
  }

  .main-content {
    flex-grow: 1; /* To fill the remaining space */
    overflow: hidden; /* In case the content overflows */
    display: flex;
    flex-direction: column;
    font-family: "Inika";
  }
  
  .profile-edit-container{
    border: 1px red solid;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50vw;
    background-color: var(--background-color);
    font-family: "Inika";
  }
  .friend-list{
  }
