.main-container {
  display: flex;
  height: calc(100vh - 80px); /* Full viewport height */
  background-image: var(--background-image);
  flex-direction: column;
  /* overflow: auto; */
}

.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row; /* Explicitly define direction if not default */
  height: 100%;
}

.navBar {
  position: fixed;
  width: 100%;
  height: 60px;
  /* overflow: hidden; Remove or change this line */
  /* other styles... */
}

.main-content {
  flex-grow: 1; /* To fill the remaining space */
  height: auto; /* Full height */
  /* Allow vertical scrolling */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-family: "Inika";
}

.profile-edit-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 50vw;
  background-color: var(--background-color);
  font-family: "Inika";
}

.friend-list {
  position: fixed;
  overflow-y: auto;
}
