/* ThemeSelector.css */

.theme-selector {
    --background: var(--background-color);; /* Adjust color to match your design */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    min-width: 10vw;
    margin-right: auto;
    height: 75vh;
    display: flex; /* Add this line */
    flex-direction: column;
    font-family: "Inika";
  }


  .theme-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: "Inika";
  }
  
  .theme-button.white {
    background-color: #f0f0f0;
    color: black;
  }
  
  .theme-button.white:hover {
    background-color: #e1e1e1;
  }
  
  .theme-button.dark {
    background-color: #333333;
  }
  
  .theme-button.dark:hover {
    background-color: #4f4f4f;
  }
  
  .theme-button.retro {
    background-color: #836953;
  }
  
  .theme-button.retro:hover {
    background-color: #9c7f68;
  }
  
  .theme-button.summer {
    background-color: #ffd384;
  }
  
  .theme-button.summer:hover {
    background-color: #ffc069;
  }

  .theme-button.spring {
    background-color: #FFC7C7;
  }
  
  .theme-button.spring:hover {
    background-color: #FFE2E2;
  }
  