.user-profile-container {
  display: flex;
  flex-direction: column;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 50vw;
  border-radius: 12px;
  background-color: var(--background-color);
  font-family: "Inika";
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details h2 {
    margin: 0;
  }
  
  .user-details p {
    margin: 5px 0 0;
  }
  
  .user-activity {
    display: flex;
    justify-content: space-between;
  }
  
  .posts,
  .comments {
    width: 30%;
  }
  
  .post {
    background-color: var(--background-color-2);
    border: 1px solid #787876;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 80px;
  }
  
  .post h4 {
    margin: 0 0 5px;
  }
  
  .post p {
    margin: 5px 0;
  }
  
  .username {
    font-weight: bold;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .action-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  /* UserProfile.css */
.view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-toggle button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.view-toggle button.active {
  background-color: #e0e0e0;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto; /* Add this line to make it scrollable */
  max-height: 75vh; /* Set a max-height or height for the scrolling effect */
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

.picture{
  max-width: 100%;
  margin-left: 20%;
}

.follow-request-button{
background: transparent;
position: absolute;
  right:2vw;
  top:3vh;
  border-radius: 8px;
  border-color: #eee;
  font-family: "Inika";
  height: 30px;
}


.follow-request-button:hover{
  background: transparent;
  position: absolute;
    right:2vw;
    top:3vh;
    border-radius: 8px;
    border-color: #eee;
    font-family: "Inika";
    background-color: rgba(23, 23, 23, 0.3);        
  }
  .text-area-div{
    width: 100%;
  }


textarea {
  width: 96%; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  padding: 10px; /* Adds space inside the borders */
  border: 1px solid #ccc; /* Subtle border color */
  border-radius: 4px; /* Rounded borders */
  font-family: 'Arial', sans-serif; /* Choose a font */
  font-size: 16px; /* Readable font size */
  resize: vertical; /* Allow only vertical resizing */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  overflow-y: auto; /* Ensures scroll bar only appears when needed */
}

/* Style for placeholder text */
::placeholder {
  color: #888; /* Placeholder text color */
}

/* Scrollbar styles */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
  background-color: #efefef;
}

textarea[readonly] {
  background-color: #f3f3f3; /* Light grey to indicate it is disabled */
  color: #6c757d; /* Dim text color to indicate non-editability */
  cursor: not-allowed; 
  
  
}
.follow-button{
  position: absolute;
  right:2vw;
  top:3vh;
}
.picture{
  width: 25vw;
}
.magnifyingGlassPlus-icon{
  height: 20px;
  width: 20px;
}
.trash-icon{
  height: 20px;
  width: 20px;
}
.pencilSimpleLine-icon{
  height: 20px;
  width: 20px;
}

.magnifyingGlassPlus-icon:hover{
  height: 20px;
  width: 20px;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 4px;
}
.trash-icon:hover{
  height: 20px;
  width: 20px;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 4px;
}
.pencilSimpleLine-icon:hover{
  height: 20px;
  width: 20px;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 4px;
}