.user-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid #787876;
    border-radius: 4px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details h2 {
    margin: 0;
  }
  
  .user-details p {
    margin: 5px 0 0;
  }
  
  .user-activity {
    display: flex;
    justify-content: space-between;
  }
  
  .posts,
  .comments {
    width: 48%;
  }
  
  .post {
    background-color: var(--background-color);
    border: 1px solid #787876;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post h4 {
    margin: 0 0 5px;
  }
  
  .post p {
    margin: 5px 0;
  }
  
  .username {
    font-weight: bold;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .action-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  /* UserProfile.css */
.view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-toggle button {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.view-toggle button.active {
  background-color: #e0e0e0;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto; /* Add this line to make it scrollable */
  max-height: 75vh; /* Set a max-height or height for the scrolling effect */
}

.post {
  width: 48%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

.picture{
  max-width: 100%;
}