.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-image: linear-gradient(to bottom, #D6B18B,#E5E1D0,#B3B6D3);
  --background-color: #D3D0B3;
  --text-color: #000;
  --upperbar: #D9D9D9;
  --background: #f9f3ee;
  --navbackgroundcolor: #f2e9e4; 
  --profile-sidebar: #D3D0B3;
  --hoverbackground: #e0e0e0;
  --text-color-count: #13131388;
    overflow:hidden;
}

/* Define other theme variables */
[data-theme='dark'] {
  --background-image: linear-gradient(to bottom, #222831,#393E46);
  --background-color: #3D3B40;
  --text-color: #EEEEEE;
  --upperbar: #D9D9D9;
  --hoverbackground: #49464d;
  --text-color-count: #13131388;
}

[data-theme='spring'] {
  --background-image: linear-gradient(to bottom, #FFC7C7,#FFE2E2);
  --background-color: #F6F6F6;
  --text-color: #000000;
  --upperbar: #D9D9D9;
  --hoverbackground: #e0e0e0;
  --text-color-count: #13131388;
}

[data-theme='summer'] {
  --background-image: linear-gradient(to bottom, #DBA979,#ECCA9C);
  --background-color: #E8EFCF;
  --text-color: #000000;
  --upperbar: #D9D9D9;
  --hoverbackground: #cacfb8;
  --text-color-count: #13131388;
}

/* Apply the CSS variables in your styles */
.body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  height: 100vh;
  overflow: hidden; /* Updated to auto to allow scrolling */
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accent-color);
}
