.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-image: linear-gradient(to bottom, #d6b18b, #e5e1d0, #b3b6d3);
  --background-color: #d3d0b3;
  --background-color-2: #dbd5a1;
  --text-color: #000;
  --upperbar: #d9d9d9;
  --background: #f9f3ee;
  --navbackgroundcolor: #f2e9e4;
  --profile-sidebar: #d3d0b3;
  --hoverbackground: #e0e0e0;
  --text-color-count: #13131388;
  --text-color-sidebar: #000000;
  overflow: hidden;
}

/* Define other theme variables */
[data-theme="dark"] {
  --background-image: linear-gradient(to bottom, #222831, #393e46);
  --background-color: #3d3b40;
  --background-color-2: #44404b;
  --text-color: #eeeeee;
  --upperbar: #d9d9d9;
  --hoverbackground: #49464d;
  --text-color-count: #13131388;
  --text-color-sidebar: #eeeeee;
}

[data-theme="spring"] {
  --background-image: linear-gradient(to bottom, #ffc7c7, #ffe2e2);
  --background-color: #f6f6f6;
  --background-color-2: #f5e2e2;
  --text-color: #000000;
  --upperbar: #d9d9d9;
  --hoverbackground: #e0e0e0;
  --text-color-count: #13131388;
  --text-color-sidebar: #000000;
}

[data-theme="summer"] {
  --background-image: linear-gradient(to bottom, #dba979, #ecca9c);
  --background-color: #e8efcf;
  --background-color-2: rgb(232, 241, 197) CF;
  --text-color: #000000;
  --upperbar: #d9d9d9;
  --hoverbackground: #cacfb8;
  --text-color-count: #13131388;
  --text-color-sidebar: #000000;
}

/* Apply the CSS variables in your styles */
.body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  height: 100vh;
  overflow: hidden; /* Updated to auto to allow scrolling */
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accent-color);
}
