.admin-profile-sidebar {
    width: 250px; /* Adjust the width as necessary */
    background-color: var(--background-color); /* Background color of the sidebar */
    height: 75vh;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;

  }

  
  
  .sidebar-header {
    text-align: center; /* Center the content */
    margin-bottom: 20px; /* Spacing below the header */
  }
  
  .sidebar-profile-img {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    border-radius: 50%; /* Circular image */
    margin-bottom: 10px;
  }
  
  .sidebar-nav-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  .sidebar-nav-item {
    margin-bottom: 10px; /* Spacing between items */
  }
  
  .sidebar-nav-link {
    text-decoration: none; /* Remove default underline */
    color: var(--text-color); /* Text color for the links */
    display: block;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for the links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .sidebar-nav-link.active,
  .sidebar-nav-link:hover {
    background-color: var(--hoverbackground); /* Background color on hover/active */
  }