.post-container-sign {
    /* Flex container for the whole post */
    display: flex;
    justify-content: center; /* Center the content if there's extra space */
    width: 60vw; /* 60% of the viewport width */
    margin: auto; /* Center the container on the page */
    height: 80vh; /* 80% of the viewport height */
    max-height: 80vh; /* Ensure it doesn't exceed 80% of the viewport height */
  }
  
  .post-content-wrapper-sign {
    /* Flex container for the image and text */
    display: flex;
    border: 1px solid #ccc;
    width: 100%; /* Take full width of the parent container */
    height: 100%; /* Take full height of the parent container */
  }
  
  .post-image-container-sign {
    width: 70%; /* 70% of the parent container width */
    height: 100%; /* Full height of the parent container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-image-sign {
    width: 100%; /* Ensure it covers the full width of the container */
    height: 100%; /* Ensure it covers the full height of the container */
    object-fit: cover; /* Cover the area, may crop the image */
  }
  .post-text-content-sign {
    /* This will contain the description and comments */
    padding: 10px;
    width: 30%; /* Remaining width after image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Add scroll for overflow */
  }
  
  .comments-section-sign {
    width: 100%; /* Take full width of the parent container */
    /* If you want to limit the number of comments shown at once, you can add a max-height */
    /* max-height: calculated_value; */
    /* overflow-y: auto; */
  }
  .post-description-sign {
    white-space: normal; /* Default value, just to be explicit */
    word-wrap: break-word; /* Breaks the word to prevent overflow */
  }
  
  